@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

@import "tailwindcss";

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.toggle-checkbox:checked {
  right: 0;
  border-color: #13ec5b;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #13ec5b;
}